
parameters:
    level: 8

    paths:
        - src
        - tests

    checkMissingIterableValueType: false

    ignoreErrors:
        - message: '#Call to an undefined method Pest\\.*#'
          paths:
              - tests/

        - message: '#Undefined variable: \$this#'
          paths:
              - tests/
